@import "tailwindcss";

@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-fiscal-primary: #006FEE;
    --color-fiscal-secondary: #9353d3;
    --color-fiscal-success: #17c964;
    --color-fiscal-warning: #f5a524;
    --color-fiscal-danger: #f31260;
}

html {
    scroll-behavior: smooth;
}